<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Constructor standings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Constructor standings</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <app-select-season (changeSeason)="onChangeSeason($event)"></app-select-season>
    </ion-toolbar>
  </ion-header>
  <div id="container-content">
    <div *ngIf="!loading">
      <div *ngIf="constructorStandings.length === 0" class="ion-text-center">
        <p>No data for this season</p>
        <p class="text-bold">You can choose another season</p>

      </div>
      <ion-card *ngIf="constructorStandings[0]">
        <img *ngIf="constructorStandings[0].constructorModel.pictures && constructorStandings[0].constructorModel.pictures.car" [src]="constructorStandings[0].constructorModel.pictures.car" alt="car"/>
        <ion-card-header>
          <ion-card-title>Leader</ion-card-title>
          <ion-card-subtitle>{{constructorStandings[0].constructorModel.name}}</ion-card-subtitle>
          <ion-card-subtitle>{{constructorStandings[0].points}} points</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      <ion-list>
        <ion-item *ngFor="let constructorStanding of constructorStandings.slice(1, constructorStandings.length)" button>
          <ion-chip slot="start">{{constructorStanding.position}}</ion-chip>
          <ion-label>
            <h2>{{constructorStanding.constructorModel.name}}</h2>
            <p>{{constructorStanding.points}} points</p>
          </ion-label>
          <ion-label color="danger" *ngIf="constructorStanding.positionText === 'E'" slot="end">
            DSQ
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div *ngIf="loading">
      <app-skeleton-standing></app-skeleton-standing>
    </div>
  </div>
</ion-content>
